---
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout
  title="About"
  description="What is dev daily hub exactly? In short its a place for any developer whos looking to learn a new thing, be that programming or just self-help related. This is a platform where I will be sharing things I learn on my programming and life journey."
>
  <h1 class="my-4 text-2xl dark:text-neutral-400">About Dev Daily Hub...</h1>
  <p class="dark:text-neutral-400">
    A hub of information about programming, development, dev-ops and random
    self-help related topics. Where I can share my thoughts and lessons learnt
    from life and my programming journey
  </p>
  <h2 class="my-4 text-2xl dark:text-neutral-400">Who am I?</h2>
  <div class="my-8 flex justify-center">
    <a href="https://aidanlowson.com" target="_blank">
      <img
        src="https://devdailyhub.com/BromoSoloRoundSmaller.webp"
        alt="A picture of me wearing a blue raincoat with a volcano in the back-drop, mount bromo to be specific in Indonesia"
        class="w-[20rem] transition duration-300 hover:scale-105 hover:opacity-75"
      />
    </a>
  </div>
  <p class="dark:text-neutral-400">
    Aidan Lowson, a Software Engineer from the UK. Programming since 2012 and
    working with some big bois in the UK since 2018. In recent years I've been
    more pasisonate than ever about the ever evolving world of programming after
    spending a number of years just coding for the pay-cheque (don't tell my old
    boss).
  </p>
  <h3 class="my-4 text-2xl dark:text-neutral-400">Ways to contact me</h3>
  <p class="dark:text-neutral-400">
    Rather than repeat myself, I have a webpage on my presonal website that has
    all me links, check it out and get in touch! Don't forget to
    follow/like/subscribe where applicable too, that's always much appreciated
    🤘 <a href="https://aidanlowson.com/links-aidan" target="_blank"
      >All my links, socials and all</a
    >
  </p>
</BaseLayout>
